*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    padding: 0 5%;
    background-image: linear-gradient(rgba(12, 51, 3, 0.3));
    justify-content: center;
    align-items: center;
}
.background-video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}
.container{
    text-align: center;
    background-color: rgba(0 0 0 0.7);
}
.container h1{
    font-size: 80px;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
    line-height: 1.2;
}
.container h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.container a{
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    margin-top: 15px;
    border: 2px solid white;
    padding: 10px 25px;
    color: white;
}
.container a:hover{
    background-color: white;
    color:black;
}
@media (min-aspect-ratio){
    .background-video{
        width:100%;
        height:auto;
    }
}
@media (max-aspect-ratio){
    .background-video{
        width:auto;
        height:100%;
    }
}